{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{%endblock %}
{% block menu %}
    {% include "administrador/menu.html" %}
{%endblock %}
{% block contenido %}
<h3 class="text-center mt-3 fw-bold">MÓDULO ADMINISTRADOR</h3>
<br />
<div class="row" style="margin: 0 auto !important; width: 55%">
  <div class="col-sm" style="margin-bottom: 5rem;">
    <a href="/vistaGestionarUsuarios/">
      <div class="text-center icon" style="font-size: 8rem;">
        <i class="fa fa-user fa-fade"></i>
      </div>
    </a>
    <div class="text-center fw-bold">Gestionar Usuarios</div>
  </div>
  <div class="col-sm">
    <a href="/listarCasosParaAsignar/">
      <div class="text-center icon" style="font-size: 8rem;">
        <i class="fa fa-eye fa-fade text-danger"></i>
      </div>
    </a>
    <div class="text-center fw-bold">Ver Solicitudes</div>
  </div>
  <div class="col-sm" style="margin-bottom: 5rem;">
  



    <a href="#">
      <div class="text-center icon" style="font-size: 8rem;">
        <i class="fa fa-clipboard fa-fade"></i>
      </div>
    </a>
       <!-- Añadir aquí el dropdown para reportes adicionales -->
        <a class="nav-link dropdown-toggle text-center fw-bold text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reportes
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/generarGrafica/">Gráfica Estadística</a></li>
            <li><a class="dropdown-item" href="/pdfSolicitudes/">Reportes PDF Solicitud</a></li>
        </ul>
  </div>
  
</div>
{%endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{%endblock %}
